# Machine Learning
scikit-learn
xgboost

# Data Processing
numpy
pandas

# Logging
loguru

# Progress Bar
tqdm

# Firebase
firebase-admin

# Visualization
matplotlib
seaborn

# Weather Data
openmeteo-requests

# HTTP Requests
requests
requests-cache
retry-requests

# Thermal Comfort Calculation
pythermalcomfort

# Additional Packages
python-dateutil